body {
  background: #e6ecf0;
  font-family: "Segoe UI","Arial","sans-serif";
}

.navbar {
  height: 50px;
  padding: 0;
  -webkit-box-shadow: 0 0 10px 1px grey;
          box-shadow: 0 0 10px 1px grey;
}

.navbar .row {
  margin: 0;
  width: 1190px;
}

.navbar .row .col {
  padding: 0;
}

.navbar .row .col-left .menu-item {
  margin: 0 10px;
  cursor: pointer;
  color: grey;
  font-weight: bold;
}

.navbar .row .col-left .menu-item:hover {
  color: #1c94e0;
  border-bottom: 2px solid #1c94e0;
}

.navbar .row .col-mid .fab {
  color: #1da1f2;
  font-size: 20px;
  cursor: pointer;
}

.navbar .row .col-right a img {
  height: 30px;
  width: 30px;
}

.navbar .row .col-right .search-input {
  margin: 0 15px;
}

.navbar .row .col-right .search-input input {
  border: 1px solid #e6ecf0;
  border-radius: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 2px;
  outline: none;
}

.navbar .row .col-right .search-input i {
  top: 7px;
  right: 10px;
  opacity: 0.3;
}

.navbar .row .col-right .btn {
  height: 20px;
  margin: 0 15px;
  background: #2FC2EF;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
  padding: 6px 16px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container-fluid {
  margin-top: 56px;
  padding: 0;
}

.container-fluid .row {
  width: 1190px;
  margin: 0 auto;
}

.container-fluid .row .col-left {
  max-width: 290px;
}

.container-fluid .row .col-left .upper {
  background: #ffffff;
  padding-bottom: 20px;
}

.container-fluid .row .col-left .upper .top .cover-photo img {
  border: 1px solid #e6ecf0;
  border-radius: 5px;
  width: 100%;
}

.container-fluid .row .col-left .upper .top .user-avatar {
  top: 75px;
  left: 10px;
}

.container-fluid .row .col-left .upper .top .user-avatar img {
  width: 75px;
}

.container-fluid .row .col-left .upper .bottom .container-profile {
  margin-left: 100px;
}

.container-fluid .row .col-left .upper .bottom .container-profile a {
  font-size: 18px;
  font-weight: bold;
}

.container-fluid .row .col-left .upper .bottom .container-profile a.prof-name {
  font-size: 12px;
  color: #657786;
  font-weight: normal;
}

.container-fluid .row .col-left .upper .bottom .stats {
  padding: 0 16px 0 16px;
}

.container-fluid .row .col-left .upper .bottom .tweets-container {
  margin-top: 25px;
  margin-right: 22px;
}

.container-fluid .row .col-left .upper .bottom .tweets-container a .title {
  color: #657786;
  font-size: 12px;
  font-weight: bold;
}

.container-fluid .row .col-left .upper .bottom .tweets-container a .state-value {
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
  color: #2FC2EF;
}

.container-fluid .row .col-left .lower {
  margin-top: 10px;
  padding: 10px;
  background: #ffffff;
}

.container-fluid .row .col-left .lower .title .trends-title {
  font-size: 20px;
}

.container-fluid .row .col-left .lower .title .trends-change a {
  color: #2FC2EF;
  font-size: 12px;
}

.container-fluid .row .col-left .lower .trends-items .trend-item a .trends {
  font-size: 14px;
  color: #2FC2EF;
  font-weight: bold;
}

.container-fluid .row .col-left .lower .trends-items .trend-item a .tweeting {
  color: #657786;
  font-size: 12px;
}

.container-fluid .row .Main-col {
  max-width: 590px;
}

.container-fluid .row .Main-col .tweet-box img {
  width: 30px;
  height: 30px;
}

.container-fluid .row .Main-col .tweet-box .area-label {
  width: 100%;
}

.container-fluid .row .Main-col .tweet-box .area-label input {
  width: 100%;
}
/*# sourceMappingURL=profile.css.map */