.left-col{
    background: #1da1f2;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}
.left-col ul {
    list-style: none;
    z-index:1 ;
}
.left-col ul li {
    margin: 48px 0 ;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.left-col ul li i {
    margin-left: 16px;
    font-size: 32px;
}
.background{
    font-size: 900px;
    position: absolute;
    top: -120px ;
    left: -250px;
    opacity: 0.1;
    
}
.right-col .row form{
    margin-top: 20px;

}
.right-col .row form .form-input {
    margin-right: 10px;
}
.right-col .row form input {
    height: 40px;
    border-radius: 4px; 
    width: 200px;
}
.right-col .row form button {
height: 40px;    
border-radius: 40px;
}