.left-col{
    background: #1da1f2;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}
.left-col ul {
    list-style: none;
    z-index:1 ;
}
.left-col ul li {
    margin: 48px 0 ;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.left-col ul li i {
    margin-right: 16px;
    font-size: 32px;
}
.background{
    font-size: 1150px;
    position: absolute;
    top: -250px ;
    right: -540px;
    opacity: 0.1;
    
}
.right-col .row form{
    margin-top: 20px;

}
.right-col .row form .form-input {
    margin-right: 10px;
}
.right-col .row form input {
    height: 40px;
    border-radius: 4px; 
    width: 250px;
}
.right-col .row form button {
height: 40px;    
border-radius: 40px;
}

.root .right-col .mid-row  {
    width: 310px;
margin-top: 175px;

}

.root .right-col .mid-row div {
    font-size: 27px;
    font-weight: bold;

}
.root .right-col .lower-row {
    width: 310px;
    margin-top: 50px;
}
.root .right-col .lower-row div {
    font-size: 18px;
    font-weight: bold;
}